

<h1>About</h1>
<p>
	This is the sample About Page for the RonisRails project
	instructed by <%= link_to "Matten Griffel", "http://mattengriffen.com" %>
	or you can go to <%= link_to "Google", "http://google.com" %> 
</p>
