	<div class="hero-unit">
		<h1>Welcome to the Project RonisRails</h1>
	
		<p>
			<h3>
		Este é um projeto teste usando Ruby on Rails.
		<%= link_to "Ruby on Rails", "http://www.rubyonrails.org" %>
			</h3>
		</p>
		<p>
			<%= link_to "Cadastre-se", new_user_registration_path, class: "btn btn-success btn-large" %>
		</p>
	</div>
